registry=http://r.npm.guorou.net
@grfe:registry=http://r.npm.guorou.net # 二代目源

# @guopi:registry=http://192.168.30.56:9003/nexus/content/repositories/npm-internal/
# @guopi:always-auth=true
# @guopi:_auth=YWRtaW46YWRtaW4xMjM=

//r.npm.guorou.net/:_authToken="ZYLfJ1PwDJft4nS7B5hoAw=="

