# 配置特殊库
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/

//r.npm.guorou.net/:_authToken="ZYLfJ1PwDJft4nS7B5hoAw=="

registry=https://registry.npm.taobao.org

@grfe:registry=http://r.npm.guorou.net
@guopi:registry=http://r.npm.guorou.net
@guorou:registry=http://r.npm.guorou.net
@guorou-knowledge:registry=http://r.npm.guorou.net

