.mlayout-siteLayout {
}

.reset-antd {
  .mlayout-publicHeader {
    display: flex;
    justify-content: space-between;

    right: 0;
    background: #fff !important;
    padding: 0;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    z-index: 100;

    // &-UserInfo {
    //   vertical-align: middle;
    // }
    &__Menu {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      // .portalmain-menu-submenu {
      //   padding: 0;
      //   margin-right: 20px;
      // }
    }

    &__Logo {
      background: rgba(255, 255, 255, 0.2);
      height: 60px;
      display: flex;
      align-items: center;
      img {
        margin-left: 16px;
        height: 20px;
      }

      span {
        margin-left: 16px;
        padding-left: 16px;
        font-size: 14px;
        color: rgb(3, 12, 52);
        height: 20px;
        line-height: 20px;

        border-left: 1px solid rgba(0, 21, 41, 0.08);
      }
    }
  }
}

// .f-center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .mlayout-LayoutMenu {
//   &__LogoWrap {
//     .f-center;
//   }

//   .portalmain-menu-item {
//     width: 100%;
//     text-align: center;
//     padding: 0 !important;
//     margin: 8px 0 !important;
//   }
// }
